*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Arial";
    color: #333;
    background-color: #ccc;
    margin: 1em 20%;
}
h1{
    color: #333;
    background-color: transparent;
}
a{
    color: #c60;
    background-color: transparent;
    font-weight: 700;
    text-decoration: none;
}
ul{
    padding: 0;
}
li{
    float: left;
    padding: 1em;
    list-style: none;
}
img{
    width: 480px;
    height: 360px;
}
#image_gallery li{
    display: inline;
}
#image_gallery li a img{
    border: 0;
    width: 96px;
    height: 64px;
}
